In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
youtube = pd.read_csv("USvideos.csv")
youtube = youtube[youtube['category_id']==26]

In [3]:
youtube = youtube[['title','tags','views','likes','dislikes','comment_count','trending_date','publish_time']]
youtube = youtube.dropna()
youtube.head()

,title,tags,views,likes,dislikes,comment_count,trending_date,publish_time
23,"What $4,800 Will Get You In NYC | Sweet Digs H...","refinery29|""refinery 29""|""r29""|""r29 video""|""vi...",145921,1707,578,673,17.14.11,2017-11-12T16:00:01.000Z
27,A Smart... MUG?! - Take apart a Heated Thermos!,"Smart mug|""Heated thermos""|""tech""|""gift idea""|...",120727,9033,224,1346,17.14.11,2017-11-13T16:00:03.000Z
45,iPhone X vs Makeup Transformation (Face ID TEST),"iphone x|""iphonex makeup""|""iphonex test""|""new ...",1456472,33505,1660,2160,17.14.11,2017-11-12T00:45:54.000Z
69,John Lewis Christmas Ad 2017 - #MozTheMonster,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,17.14.11,2017-11-10T07:38:29.000Z
80,A VERY #EXTRA EBAY SHOPPING HAUL!,"ebay|""haul""|""cheap""|""challenge""|""extra""|""amber...",484185,23296,1184,1858,17.14.11,2017-11-11T02:42:23.000Z

In [4]:
youtube.describe()

              views          likes      dislikes  comment_count
count  4.146000e+03    4146.000000   4146.000000    4146.000000
mean   9.837301e+05   39286.076942   1320.284370    5583.586589
std    1.928995e+06   53860.958669   2847.194161   15848.022029
min    1.107000e+03       0.000000      0.000000       0.000000
25%    2.154222e+05    7655.250000    199.000000     731.750000
50%    5.027830e+05   21492.500000    502.500000    1842.000000
75%    1.098036e+06   48313.750000   1292.500000    4813.750000
max    5.415592e+07  605954.000000  66632.000000  203884.000000

In [5]:
d = {"views" : youtube['views'],"likes" : youtube['likes']}
vl = pd.DataFrame(data=d)
youtube.plot.scatter(x='views',y='likes')

In [6]:
d = {"views" : youtube['views'],"dislikes" : youtube['dislikes']}
vl = pd.DataFrame(data=d)
youtube.plot.scatter(x='views',y='dislikes')

In [7]:
d = {"likes" : youtube['likes'],"dislikes" : youtube['dislikes']}
vl = pd.DataFrame(data=d)
youtube.plot.scatter(x='likes',y='dislikes')

# Make Tags into list

In [8]:
tags = youtube['tags']
tags_new = list(tags)

new_tags = []
count_tags = []

# Split words in tags into a list of tags
for s in tags_new:
    s = s.split('|')
    new_tags.append(s)

# Make list of how many tags are in each video
for i in new_tags:
    count_tags.append(len(i))

# Prepate count_tags to be added into dataframe
count_tag = np.array(count_tags, dtype=np.int64)
count_tag = pd.Series(count_tag)

# Add count_tag to dataframe
youtube['count_tags'] = count_tag.values

youtube.head(1000)

,title,tags,views,likes,dislikes,comment_count,trending_date,publish_time,count_tags
23,"What $4,800 Will Get You In NYC | Sweet Digs H...","refinery29|""refinery 29""|""r29""|""r29 video""|""vi...",145921,1707,578,673,17.14.11,2017-11-12T16:00:01.000Z,35
27,A Smart... MUG?! - Take apart a Heated Thermos!,"Smart mug|""Heated thermos""|""tech""|""gift idea""|...",120727,9033,224,1346,17.14.11,2017-11-13T16:00:03.000Z,18
45,iPhone X vs Makeup Transformation (Face ID TEST),"iphone x|""iphonex makeup""|""iphonex test""|""new ...",1456472,33505,1660,2160,17.14.11,2017-11-12T00:45:54.000Z,17
69,John Lewis Christmas Ad 2017 - #MozTheMonster,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,17.14.11,2017-11-10T07:38:29.000Z,9
80,A VERY #EXTRA EBAY SHOPPING HAUL!,"ebay|""haul""|""cheap""|""challenge""|""extra""|""amber...",484185,23296,1184,1858,17.14.11,2017-11-11T02:42:23.000Z,12
81,EXTREME GOLDEN TAN TRANSFORMATION,"Extreme Tan|""Tanning""|""Tanning Bed""|""How to ge...",300617,8133,2693,2911,17.14.11,2017-11-10T20:40:44.000Z,13
82,Inside the Cheese-Aging Caves 30 Feet Under Br...,"cave|""cheese""|""goat""|""rind""|""sheep's milk""|""cr...",92523,2323,40,134,17.14.11,2017-11-10T16:01:04.000Z,28
84,ICE PRIMER? DOES IT WORK?!,"ice primer|""beauty hack""|""weird beauty hack""|""...",103927,3571,278,399,17.14.11,2017-11-11T05:23:36.000Z,5
93,How To Dry a Shirt in 30 Seconds,"how to dry a shirt in 30 seconds|""how to dry a...",2063667,98804,11682,11443,17.14.11,2017-11-09T18:36:48.000Z,9
107,Surprise After Surprise | October Vlog,"jenn im|""jenn im vlog""|""imjennim""|""october vlo...",247319,10138,153,639,17.14.11,2017-11-10T18:42:55.000Z,9
115,SECRETS REVEALED! HOW I LAY MY LACE WIGS! | AA...,11-8-17,219030,14303,398,1099,17.14.11,2017-11-10T01:30:00.000Z,1
132,Everything I Wore This Week! Outfit Diary 1,"Dina|""Tokio""|""Dinatokio""|""Torkia""|""Hijab""|""Hij...",72626,3652,120,219,17.14.11,2017-11-10T22:22:04.000Z,52
143,Three meals that cost me $1.50 each,"brothers green eats|""budget cooking""|""cooking ...",77630,1991,83,208,17.14.11,2017-11-09T14:00:08.000Z,19
159,"Chapter 28: I Love My Baby But, I Miss My Dad","Whitney Port|""I Love My Baby But""|""Grief""|""Gri...",55398,1170,22,336,17.14.11,2017-11-09T17:22:40.000Z,6
171,FACE SURGERY WITH MAKEUP,"makeup|""makeup tutorial""|""surgery""|""transforma...",471266,23634,460,1714,17.14.11,2017-11-09T03:27:36.000Z,28
179,Chocolate Orange Autumn Cupcakes | Cupcake Jemma,"cupcakes|""cupcake""|""cup cake""|""cake""|""cakes""|""...",122669,5723,55,263,17.14.11,2017-11-09T18:30:01.000Z,36
183,My Every Day Autumn Makeup | Zoella,"zoe sugg|""zoe""|""sugg""|""zoella""|""beauty""|""cosme...",1390440,86207,1775,710,17.14.11,2017-11-08T18:24:16.000Z,22
189,TOTAL FAIL! NATASHA DENONA HOLIDAY WTF,"YouTube|""Beauty""|""Makeup""|""Tutorial""|""Review""|...",1277364,56867,2148,25326,17.14.11,2017-11-08T18:00:05.000Z,29
204,How I Trained My Cats,"how|""trained""|""cat""|""cats""|""train""|""how to""|""h...",977285,87615,391,5575,17.15.11,2017-11-14T12:06:56.000Z,27
214,Is the Morphe 3502 Palette Worth the Hype? | J...,"morphe|""morphe 350""|""morphe 3502 review""|""morp...",175539,17130,264,1747,17.15.11,2017-11-14T21:03:47.000Z,7
224,Japanese Food Tour with Frank Pinello and Saku...,"First we feast|""fwf""|""firstwefeast""|""food""|""fo...",145100,5198,74,657,17.15.11,2017-11-14T16:00:01.000Z,26
248,EARL GREY MACARONS- The Scran Line,"cupcakes|""how to make vanilla cupcakes""|""over ...",20778,1440,24,437,17.15.11,2017-11-14T14:01:36.000Z,13
274,Why a New York Ice Cream Shop is Releasing Ham...,"ham|""ice cream""|""candied""|""candy""|""pineapple""|...",31639,586,42,67,17.15.11,2017-11-13T15:00:03.000Z,43
281,"What $4,800 Will Get You In NYC | Sweet Digs H...","refinery29|""refinery 29""|""r29""|""r29 video""|""vi...",225044,2265,775,868,17.15.11,2017-11-12T16:00:01.000Z,35
283,A Smart... MUG?! - Take apart a Heated Thermos!,"Smart mug|""Heated thermos""|""tech""|""gift idea""|...",231104,12862,347,1824,17.15.11,2017-11-13T16:00:03.000Z,18
306,iPhone X vs Makeup Transformation (Face ID TEST),"iphone x|""iphonex makeup""|""iphonex test""|""new ...",1775997,37124,1980,2695,17.15.11,2017-11-12T00:45:54.000Z,17
329,John Lewis Christmas Ad 2017 - #MozTheMonster,"christmas|""john lewis christmas""|""john lewis""|...",7563254,58209,10859,7120,17.15.11,2017-11-10T07:38:29.000Z,9
335,A VERY #EXTRA EBAY SHOPPING HAUL!,"ebay|""haul""|""cheap""|""challenge""|""extra""|""amber...",515525,24115,1249,1860,17.15.11,2017-11-11T02:42:23.000Z,12
339,EXTREME GOLDEN TAN TRANSFORMATION,"Extreme Tan|""Tanning""|""Tanning Bed""|""How to ge...",366892,9052,2993,3088,17.15.11,2017-11-10T20:40:44.000Z,13
356,ICE PRIMER? DOES IT WORK?!,"ice primer|""beauty hack""|""weird beauty hack""|""...",118316,3823,294,404,17.15.11,2017-11-11T05:23:36.000Z,5
...,...,...,...,...,...,...,...,...,...
10502,My Highs & Lows of 2017 | Ingrid Nilsen,"Highs & Lows of 2017 | Ingrid Nilsen|""missglam...",106000,3590,192,265,18.05.01,2018-01-01T20:30:00.000Z,10
10508,PEANUT BUTTER JELLY CAKE! - The Scran Line,"cupcakes|""how to make vanilla cupcakes""|""over ...",48603,2899,35,269,18.05.01,2018-01-01T14:02:17.000Z,17
10516,Bye 2017,"jenn im|""imjennim""|""year in review""|""bye 2017""...",253481,25030,142,1946,18.05.01,2017-12-31T17:51:27.000Z,11
10530,My Holiday Makeup lol - Edward Avila,"men|""male""|""boy""|""asian""|""korean""|""filipino""|""...",162079,9756,2011,2271,18.05.01,2017-12-30T18:17:52.000Z,45
10533,"Update | Grieving, Future Plans, New Tattoo","grieving|""grief""|""loss""|""dealing with grief""",258088,11800,113,1260,18.05.01,2017-12-30T20:05:40.000Z,4
10540,Ritzy Parmesan Chicken Bites | Episode 1220,"chef vitale|""chef laura vitale""|""laura vitale""...",211793,6797,221,352,18.05.01,2017-12-30T03:27:12.000Z,17
10544,FULL FACE USING ONLY MY MOM'S MAKEUP Challenge...,"full face using only my mom's makeup|""full fac...",3876875,323623,2334,137411,18.05.01,2017-12-29T22:23:18.000Z,33
10547,THIS HAS TO STOP! INSTAGRAM TRENDS I HATED IN ...,"online fashion|""best online fashion shops""|""Fe...",979676,57795,1606,6197,18.05.01,2017-12-29T22:11:30.000Z,5
10551,PONY THE GLOBETROTTER + GRWM (With subs) - Mil...,"pony makeup|""pony syndrome""|""kpopmakeup""|""kbea...",569789,16615,419,1118,18.05.01,2017-12-30T08:00:09.000Z,19
10554,MY FAVORITE PRODUCTS OF 2017! | Alissa Ashley,"alissa ashley|""alissa ashley makeup""|""hooded e...",240008,19229,354,1238,18.05.01,2017-12-29T20:00:04.000Z,9
10556,NEW YEAR'S EVE CUT CREASE | Makeup Tutorial,"NYE|""new years eve""|""makeup tutorial""|""cut cre...",460511,29292,484,1540,18.05.01,2017-12-29T17:00:00.000Z,13
10559,How I got Rich on Bitcoinüí∞ Cryptocurrency fo...,"how to get rich off bitcoin|""how to get rich o...",257269,12939,530,1869,18.05.01,2017-12-28T22:02:04.000Z,27
10582,17 Weird Ways To Survive School / Back To Scho...,"back to school pranks|""back to school""|""surviv...",5452904,44368,11615,6256,18.05.01,2017-12-26T20:00:04.000Z,19
10585,45 Beauty Secrets in 5 Minutes‚ÄîHere‚Äôs Everythi...,"beauty|""beauty secrets""|""fashion""|""how to""|""ho...",1452367,40782,1469,999,18.05.01,2017-12-27T14:00:59.000Z,29
10618,"CHIT CHAT GRWM: RESOLUTIONS, PREGNANCY PRESSUR...","DESI PERKINS|""THE PERKINS""|""MAKEUP TUTORIAL""|""...",358284,26454,229,2295,18.06.01,2018-01-05T00:33:48.000Z,22
10629,5 Days Of Meal Prep | Try Living With Lucie | ...,"refinery29|""refinery 29""|""r29""|""r29 video""|""re...",64984,3916,81,467,18.06.01,2018-01-05T16:00:02.000Z,32
10631,Pretty Purple Delight | How To Cook That Ann R...,"howtocookthat|""how to cook that""|""ann reardon""...",110559,4816,95,1222,18.06.01,2018-01-05T08:30:00.000Z,26
10640,Smartphone DURABILITY Awards 2017!,"SmartPhone awards|""smartphone durability award...",399424,36514,606,4020,18.06.01,2018-01-04T18:30:42.000Z,20
10648,Homemade Nut Butter ‚òÜ Ëá™ÂÆ∂Ë£Ω„Éä„ÉÉ„ÉÑ„Éê„Çø„Éº„ÅÆ‰Ωú„ÇäÊñπ,"almond|""cashew nut""|""butter""|""homemade""|""„Éä„ÉÉ„ÉÑ„Éê„Çø...",63792,3125,54,274,18.06.01,2018-01-04T08:04:03.000Z,10
10657,16 Philly Cheesesteaks in 12 Hours. Which Is t...,"philadelphia|""cheesesteaks""|""cheese whiz""|""ste...",170231,3683,202,575,18.06.01,2018-01-03T17:00:29.000Z,25
10669,IS IT EVER ENOUGH? | CHIT CHAT GRWM | NEW YEAR...,"how to|""easy makeup""|""makeup tutorial for begi...",89629,7431,313,2829,18.06.01,2018-01-04T01:00:00.000Z,3
10678,MAC X Patrick Starrr - What's GOOD?! | Jackie ...,"mac|""patrick star""|""mac x patrick starrr""|""mac...",527677,40790,541,1668,18.06.01,2018-01-03T03:33:21.000Z,7
10688,First Look! Silver Cross Pushchairs/Strollers!...,"sprinkleofglitter|""sprinkle of glitter""|""Louis...",121597,6170,99,497,18.06.01,2018-01-03T21:52:43.000Z,3
10694,Kris Wu Schools Sean Evans on Regional Chinese...,"First we feast|""fwf""|""firstwefeast""|""food""|""fo...",358470,12892,215,1194,18.06.01,2018-01-02T16:00:00.000Z,29
10695,TRUE - Day 1 - MOTIVE | Yoga With Adriene,"yoga|""yoga with adriene""|""30 days of yoga""|""30...",508785,14214,211,2945,18.06.01,2018-01-02T08:00:04.000Z,20
10714,Blonde to Black Hair with Grav3yardgirl,"Guy Tang|""Grav3yardgirl""|""Mydentity""|""Haircolo...",1073030,29508,1345,1848,18.06.01,2018-01-01T19:47:17.000Z,32
10732,Cooking With Your Mouth | Christmas Turkey,"christmas|""turkey""|""stuffing""|""recipe""|""food""|...",45454,156,157,83,18.06.01,2017-12-23T00:23:13.000Z,44
10737,My Highs & Lows of 2017 | Ingrid Nilsen,"Highs & Lows of 2017 | Ingrid Nilsen|""missglam...",110507,3682,198,286,18.06.01,2018-01-01T20:30:00.000Z,10
10743,PEANUT BUTTER JELLY CAKE! - The Scran Line,"cupcakes|""how to make vanilla cupcakes""|""over ...",50530,2969,35,282,18.06.01,2018-01-01T14:02:17.000Z,17
10750,Bye 2017,"jenn im|""imjennim""|""year in review""|""bye 2017""...",263766,25655,143,1953,18.06.01,2017-12-31T17:51:27.000Z,11

In [9]:
counts = list(youtube['count_tags'])
num_views = list(youtube['views'])

plt.scatter(counts,num_views)
plt.xlabel("counts")
plt.ylabel("num_views")

In [10]:
pd.plotting.scatter_matrix(youtube)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x000000000B04E748>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D07CAC8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D16EEF0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D27C9B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D31F320>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000D41DF28>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D374A90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D5D2E10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D6DF908>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D7D5908>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000D8E6358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D94C9E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000DA5A438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000DAA4630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000AA980F0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000DAB4978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000DBDF7F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000DC12E80>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000DD534A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000DE66EB8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000DF1BC50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000E02A6A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000E0D2D30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000E19C8D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000E2DD160>]], dtype=object)

In [52]:
test = youtube[youtube['views'] > 4000000]
print(test.shape)
test = test[['publish_time', 'trending_date']]
test.head(100)

(90, 9)

                   publish_time trending_date
69     2017-11-10T07:38:29.000Z      17.14.11
329    2017-11-10T07:38:29.000Z      17.15.11
569    2017-11-10T07:38:29.000Z      17.16.11
791    2017-11-10T07:38:29.000Z      17.17.11
4001   2017-12-03T08:30:00.000Z      17.04.12
4205   2017-12-03T08:30:00.000Z      17.05.12
4436   2017-12-03T08:30:00.000Z      17.06.12
4662   2017-12-03T08:30:00.000Z      17.07.12
4898   2017-12-03T08:30:00.000Z      17.08.12
5140   2017-12-03T08:30:00.000Z      17.09.12
5353   2017-12-03T08:30:00.000Z      17.10.12
5575   2017-12-03T08:30:00.000Z      17.11.12
6806   2017-12-16T16:30:00.000Z      17.18.12
7035   2017-12-16T16:30:00.000Z      17.19.12
7276   2017-12-16T16:30:00.000Z      17.20.12
7515   2017-12-16T16:30:00.000Z      17.21.12
7751   2017-12-16T16:30:00.000Z      17.22.12
7989   2017-12-16T16:30:00.000Z      17.23.12
9013   2017-12-26T20:00:04.000Z      17.29.12
9228   2017-12-26T20:00:04.000Z      17.30.12
9449   2017-12-26T20:00:04.000Z      17.31.12
9657   2017-12-26T20:00:04.000Z      18.01.01
9865   2017-12-26T20:00:04.000Z      18.02.01
10108  2017-12-26T20:00:04.000Z      18.03.01
10339  2017-12-26T20:00:04.000Z      18.04.01
10582  2017-12-26T20:00:04.000Z      18.05.01
11533  2018-01-07T15:00:04.000Z      18.12.01
11779  2018-01-07T15:00:04.000Z      18.13.01
27759  2018-04-01T20:01:49.000Z      18.04.04
27969  2018-04-01T20:01:49.000Z      18.05.04
...                         ...           ...
33548  2018-04-20T17:00:04.000Z      18.08.05
33739  2018-04-21T12:28:17.000Z      18.09.05
34597  2018-05-03T11:00:09.000Z      18.14.05
34703  2018-04-21T12:28:17.000Z      18.14.05
34890  2018-04-20T17:00:04.000Z      18.15.05
38577  2018-05-30T21:00:02.000Z      18.03.06
38786  2018-05-30T21:00:02.000Z      18.04.06
38996  2018-05-30T21:00:02.000Z      18.05.06
39180  2018-06-02T15:00:49.000Z      18.06.06
39210  2018-05-30T21:00:02.000Z      18.06.06
39387  2018-06-02T15:00:49.000Z      18.07.06
39418  2018-05-30T21:00:02.000Z      18.07.06
39614  2018-05-31T15:00:02.000Z      18.08.06
39623  2018-05-30T21:00:02.000Z      18.08.06
39825  2018-05-31T15:00:02.000Z      18.09.06
39834  2018-05-30T21:00:02.000Z      18.09.06
39941  2018-05-13T20:00:02.000Z      18.09.06
40036  2018-05-31T15:00:02.000Z      18.10.06
40045  2018-05-30T21:00:02.000Z      18.10.06
40238  2018-05-31T15:00:02.000Z      18.11.06
40246  2018-05-30T21:00:02.000Z      18.11.06
40454  2018-05-31T15:00:02.000Z      18.12.06
40459  2018-05-30T21:00:02.000Z      18.12.06
40604  2018-06-07T23:48:17.000Z      18.13.06
40615  2018-06-05T16:03:55.000Z      18.13.06
40658  2018-05-31T15:00:02.000Z      18.13.06
40663  2018-05-30T21:00:02.000Z      18.13.06
40816  2018-06-07T23:48:17.000Z      18.14.06
40865  2018-05-31T15:00:02.000Z      18.14.06
40870  2018-05-30T21:00:02.000Z      18.14.06

[90 rows x 2 columns]

In [53]:
print(type(test['trending_date'].values[0])) # dates are in strings, trending date
print(type(test['publish_time'].values[0])) # dates are in strings, trending date

#for elem in test['publish_time'].values:
#    print(elem)
    
test['publish_time'] = test['publish_time'].str[:10].astype(str)

test.head(90)



#sum((test['publish_time'].isnull()))

<type 'str'>
<type 'str'>

      publish_time trending_date
69      2017-11-10      17.14.11
329     2017-11-10      17.15.11
569     2017-11-10      17.16.11
791     2017-11-10      17.17.11
4001    2017-12-03      17.04.12
4205    2017-12-03      17.05.12
4436    2017-12-03      17.06.12
4662    2017-12-03      17.07.12
4898    2017-12-03      17.08.12
5140    2017-12-03      17.09.12
5353    2017-12-03      17.10.12
5575    2017-12-03      17.11.12
6806    2017-12-16      17.18.12
7035    2017-12-16      17.19.12
7276    2017-12-16      17.20.12
7515    2017-12-16      17.21.12
7751    2017-12-16      17.22.12
7989    2017-12-16      17.23.12
9013    2017-12-26      17.29.12
9228    2017-12-26      17.30.12
9449    2017-12-26      17.31.12
9657    2017-12-26      18.01.01
9865    2017-12-26      18.02.01
10108   2017-12-26      18.03.01
10339   2017-12-26      18.04.01
10582   2017-12-26      18.05.01
11533   2018-01-07      18.12.01
11779   2018-01-07      18.13.01
27759   2018-04-01      18.04.04
27969   2018-04-01      18.05.04
...            ...           ...
33548   2018-04-20      18.08.05
33739   2018-04-21      18.09.05
34597   2018-05-03      18.14.05
34703   2018-04-21      18.14.05
34890   2018-04-20      18.15.05
38577   2018-05-30      18.03.06
38786   2018-05-30      18.04.06
38996   2018-05-30      18.05.06
39180   2018-06-02      18.06.06
39210   2018-05-30      18.06.06
39387   2018-06-02      18.07.06
39418   2018-05-30      18.07.06
39614   2018-05-31      18.08.06
39623   2018-05-30      18.08.06
39825   2018-05-31      18.09.06
39834   2018-05-30      18.09.06
39941   2018-05-13      18.09.06
40036   2018-05-31      18.10.06
40045   2018-05-30      18.10.06
40238   2018-05-31      18.11.06
40246   2018-05-30      18.11.06
40454   2018-05-31      18.12.06
40459   2018-05-30      18.12.06
40604   2018-06-07      18.13.06
40615   2018-06-05      18.13.06
40658   2018-05-31      18.13.06
40663   2018-05-30      18.13.06
40816   2018-06-07      18.14.06
40865   2018-05-31      18.14.06
40870   2018-05-30      18.14.06

[90 rows x 2 columns]

In [54]:
test['trending_date'] = '20' + test['trending_date']

In [55]:
test['trending_date'] = test['trending_date'].str.replace('.','-')
test.head()

     publish_time trending_date
69     2017-11-10    2017-14-11
329    2017-11-10    2017-15-11
569    2017-11-10    2017-16-11
791    2017-11-10    2017-17-11
4001   2017-12-03    2017-04-12

In [56]:
#print(test['trending_date'].str[7:10])

test['trending_date'] = test['trending_date'].str[0:4]+test['trending_date'].str[7:10]+test['trending_date'].str[4:7]
test.head()

     publish_time trending_date
69     2017-11-10    2017-11-14
329    2017-11-10    2017-11-15
569    2017-11-10    2017-11-16
791    2017-11-10    2017-11-17
4001   2017-12-03    2017-12-04

In [57]:
test['trending_date'] = pd.to_datetime(test['trending_date'])
test['publish_time'] = pd.to_datetime(test['publish_time'])

test['publish_to_trending'] = test['trending_date'] - test['publish_time']

test.head()

     publish_time trending_date publish_to_trending
69     2017-11-10    2017-11-14              4 days
329    2017-11-10    2017-11-15              5 days
569    2017-11-10    2017-11-16              6 days
791    2017-11-10    2017-11-17              7 days
4001   2017-12-03    2017-12-04              1 days

In [65]:
test['publish_time'].dt.weekday_name()
#test.dtypes

TypeError: 'Series' object is not callable